<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Bubble Earthquakes Map</title>
  <link href="https://playground.anychart.com/IHJuHPMw/iframe" rel="canonical">
  <meta content="AJAX Chart,Bubble Chart,Bubble Map,Chart from JSON,Geo Chart,Geo Visualization,JSON Chart,JSON Plot,Proportional Symbol Map,Statistical Data" name="keywords">
  <meta content="AnyChart - JavaScript Charts designed to be embedded and integrated" name="description">
  <!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
  <link href="css/anychart-ui.min.css" rel="stylesheet" type="text/css">
  <link href="css/anychart-font.min.css" rel="stylesheet" type="text/css">
  <style>html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}</style>
 </head>
 <body>
  <div id="container"></div>
  <script src="js/anychart-base.min.js"></script>
  <script src="js/anychart-ui.min.js"></script>
  <script src="js/anychart-exports.min.js"></script>
  <script src="js/anychart-map.min.js"></script>
  <script src="js/anychart-data-adapter.min.js"></script>
  <script src="js/world.js"></script>
  <script src="js/proj4.js"></script>
  <script type="text/javascript">anychart.onDocumentReady(function () {
    // The data used in this sample can be obtained from the CDN
    // https://cdn.anychart.com/samples/maps-bubble/bubble-earthquakes-map/data.json
    //anychart.data.loadJsonFile('https://cdn.anychart.com/samples/maps-bubble/bubble-earthquakes-map/data.json', function (data) {
    anychart.data.loadJsonFile('http://localhost:3000/data', function (data) {
        // Creates data set
        var dataSet = anychart.data.set(data);

        // Creates Map Chart
        var map = anychart.map();

        // Sets geodata using js/world.js
        map.geoData('anychart.maps.world');

        map.credits()
                .enabled(true)
                .url('https://en.wikipedia.org/wiki/Lists_of_earthquakes')
                .text('Data source: https://en.wikipedia.org/wiki/Lists_of_earthquakes')
                .logoSrc('https://en.wikipedia.org/static/favicon/wikipedia.ico');

        // Sets Chart Title
        map.title()
                .enabled(true)
                .text('')
                .padding([0, 0, 20, 0]);

        map.interactivity().selectionMode('none');

        // Sets bubble max size settings
        map.minBubbleSize('0.5%')
                .maxBubbleSize('1.5%');

        // Creates bubble series
        map.bubble()
                .data(dataSet)
                // Sets series settings
                .geoIdField('iso_a2')
                .fill('#ff8f00 0.6')
                .stroke('1 #ff6f00 0.9');
        map.hovered()
                .fill('#78909c')
                .stroke('1 #546e7a 1');

        map.tooltip()
                .useHtml(true)
                .title({fontColor: '#7c868e'})
                .padding([8, 13, 10, 13])
                .format(function () {
                    var span_for_value = '<span style="color: #545f69; font-size: 12px; font-weight: bold">';
                    var span_for_percent = '<span style="color: #545f69; font-size: 12px; font-weight: bold">';
                    var span_for_date = '<br/><span style="color: #7c868e; font-size: 11px">';
                    var span_for_ipdst = '<br/><span style="color: #7c868e; font-size: 11px">';
                    var span_for_ipsrc = '<br/><span style="color: #7c868e; font-size: 11px">';
                    var span_for_description = '<br/><span style="color: #7c868e; font-size: 12px; font-style: italic">"';
                    var span_for_protocol = '<br/><span style="color: #7c868e; font-size: 12px; font-style: italic">';
                    if (this.getData('description') != '') {
                        return span_for_value + 'Porcentaje: '+this.getData('percent') + '</span></strong>'
                                + span_for_protocol +'Protocolo: '+this.getData('protocolo') + '</span>'
                                + span_for_ipdst + 'IP dst: '+this.getData('ipdst') + '</span>'
                                + span_for_ipdst + 'IP src: '+this.getData('ipsrc') + '</span>';
                    } else {
                        return span_for_value + this.size + 'M </span></strong>'
                                + span_for_date + this.getData('date') + '</span>';
                    }
                });

        map.tooltip().background()
                .enabled(true)
                .fill('#fff')
                .stroke('#c1c1c1')
                .corners(3)
                .cornerType('round');

        
        // create zoom controls
        var zoomController = anychart.ui.zoom();
        zoomController.render(map);

        // Sets container id for the chart
        map.container('container');
        // Initiates chart drawing
        map.draw();
    });
});</script>
 </body>
</html>